<!DOCTYPE html>
<html>
<head>
	<title>PYRSERVICIOS - INICIO</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom-styles.css">
	
	<meta charset="UTF-8">
  	<meta name="description" content="Somos un equipo de profesionales con una amplia experiencia y especializaciones en soluciones arquitectónicas integrales">
  	<meta name="keywords" content="lorem">
	<meta name="author" content="lorem">

  <link rel="stylesheet" href="../css/boostrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
  <script src="../js/boostrap/bootstrap.min.js" defer></script>
  <script src="../js/main.js" defer></script>
</head>
<body>
	<!-- Header -->
	<header>
		<%- include('components/header/navbar') %>
		<%- include('components/header/carousel') %>
	</header>

	<!-- Content -->
		<%- include('components/body/landing') %>
	<!-- Footer -->

	<section class="pyr_section"> 
		<%- include('components/contact_us/email_form') %>
	</section>
	<footer class="text-light text-center text-lg-start bg-secondary">
		<%- include('components/footer/footer') %>
	</footer>
	  
</body>
</html>