<div>
    <section id="conocenos" class="question-bg" style="position:relative;">
        <div class="container">
            <div class="row" style="padding:5vw 0px">
                <%- include('./about_us') %>
            </div>
        </div>
    </section>
    <section class="my-10" id="item-2" data-aos="fade-up"> 
        <div class="container" style="position: relative;">
            <hr class="hr-benefits">
            <div class="text-center p-3" style="position: relative;">
                <h4 class="aislamiento_termico_title" style="position: relative;display:flex;flex-direction: column;">
                    <span>Principales beneficios de la lámina térmica</span>
                </h4>
            </div>
            <div class="row mt-2">
                <div class="question-conteiner-icon col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                    <div class="text-center p-2">
                        <h6 class="pyr-icon--text">Ahorro de costos de <br> inversión</h6>
                    </div>
                    <div class="text-center p-2">
                        <i class="bi bi-stop-circle color-pyr-primary" style="font-size:24px"></i>                    
                    </div>
                 
                </div>
                <div class="question-conteiner-icon col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center flex-column">

                    <div class="text-center p-2">
                        <h6 class="pyr-icon--text">Ahorro de energía</h6>
                    </div>
                    <div class="text-center p-2">
                        <i class="bi bi-stop-circle color-pyr-primary" style="font-size:24px"></i>                    
                    </div>
                </div>
                <div class="question-conteiner-icon col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                    <div class="text-center p-2">
                        <h6 class="pyr-icon--text">Producto no invasivo y recuperable</h6>
                    </div>
                    <div class="text-center p-2">
                        <i class="bi bi-stop-circle color-pyr-primary"  style="font-size:24px"></i>                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center flex-column">
                    <h5 class="text-justify question-container question-container-title">¿Por qué se recomienda a los clientes colocar lámina térmica?</h5>
                    <p class="text-justify question-container">
                        Recomendamos la lámina térmica porque logramos un equilibrio térmico eficiente en ambientes de
                        alta o baja temperatura, consiguiendo un ahorro de energía significativo, además de ser un
                        producto de larga duración con mínimo costo mantenimiento y un buen acabado.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="p-2">
                        <%- include('../references/references') %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Square Image and Text Section-->
    <section class="my-10 gray-section" id="item-3">
        <br>
        <h3 class="section-title" >Servicios</h3>
        <div class="section-description">
            <p style="font-size: 20px;">
                Todos nuestros servicios son totalmente personalizados y se adaptan a las necesidades del cliente.
            </p>
        </div>
        <div class="mt-5 py-3 pyr_section">
            <%- include('../proyectos/proyecto') %>
                <%- include('../proyectos/modals') %>
        </div>
    </section>

    <!--Clients-->
    <section class="my-10" id="item-4" data-aos="fade-up">
        <%- include('clients') %>
    </section>

    <!--Phrase-->
    <section class="mt-5" data-aos="fade-in">
        <%- include('../descripcion/frase') %>
    </section>

    <section class="gray-section" data-aos="fade-up">
        <br>
        <h3 class="section-title" style="margin-bottom: 2rem;">Nuestros proyectos</h3>
        <div class="section-description">
            <p style="font-size: 20px;">
                Conoce nuestros proyectos donde la estrategia, tiempos de implementación y mejora en diferentes áreas de diversas empresas fueron fundamentales para su éxito.
            </p>
        </div>
        <div class="mt-5 aos-init aos-animate">
            <%- include('../use_cases/use_case_ms.ejs') %>
            <%- include('../use_cases/modals.ejs') %>
        </div>
    </section>

    <!--CONTACT FORM-->
    <section class="contact_us_section pyr_section row" id="item-5" >
        <%- include('../contact_us/contact_us') %>
    </section>
    <!--CONTACT FORM-->

</div>